.adv 
    .container 
        ul.adv__inner 
            li.adv__item.adv__item--lg 
                p.adv__text Для инфлюенсеров, создателей контента и событий, спортсменов, лидеров мнений, геймеров
                a.adv__link.btn.btn--sm(href="#") Начать бесплатно
            li.adv__item 
                img.adv__icon(src="@img/emoji/stars.png", alt="stars icon")
                p.adv__text Создаем бренд
            li.adv__item 
                img.adv__icon(src="@img/emoji/sprout.png", alt="sprout icon")
                p.adv__text Помогаем в создании контента
            li.adv__item 
                img.adv__icon(src="@img/emoji/graph.png", alt="graph icon")
                p.adv__text Упаковываем и продвигаем
            li.adv__item 
                img.adv__icon(src="@img/emoji/crown.png", alt="crown icon")
                p.adv__text Монетизируем бренд и контент