.advertisers
    .container 
        h2.advertisers__title Мы работаем с лучшими рекламодателями
        ul.advertisers__list 
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-1.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-2.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-3.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-4.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-5.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-6.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-7.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-8.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-9.png", alt="advertiser")
            li.advertisers__item
                img.advertisers__img(src="@img/advertisers-10.png", alt="advertiser")