.afford 
    .container 
        .afford__block 
            .afford__info
                h2.afford__title 
                    span Для создателей, 
                    | которые имеют потенциал мы: 
                ul.afford__list 
                    li.afford__item Создаем бренд
                    li.afford__item Создаем контент
                    li.afford__item Упаковываем контент
                    li.afford__item Монетизируем бренд
            img.afford__img(src="@img/afford-1.svg", alt="image")
        .afford__block.afford__block--reverse
            .afford__info
                h2.afford__title 
                    span Бесплатный  
                    | доступ и использование сервиса
                p.afford__text Сервис берет комиссию только за платежиот рекламодателей, спонсоров и оплату подрядчикам 
                a.afford__btn.btn(href="#") Начать бесплатно
            img.afford__img(src="@img/afford-2.svg", alt="image")