.banner
    .container 
        .banner__inner
            .banner__title Создавай эффективные компании вместе с платформой 
                span.black Grou
            a.banner__link.btn(href="#") Начать бесплатно
            img.banner__img(src="@img/banner-img.svg", alt="banner image")