.cards
    .container 
        ul.cards__inner
            li.cards__item.cards__item--violent 
                img.cards__img(src="@img/cards-1.jpg", alt="notepad image")
                h3.cards__title Делаем #[br] PRO бренд
                p.cards__text Сервис предложит для вас пошаговый план создания и развития своего бренда 
            li.cards__item 
                img.cards__img.cards__img--svg(src="@img/cards-2.svg", alt="notepad image")
                h3.cards__title Задания и календарь развития бренда
                p.cards__text Получи доступ к личному календарю с заданиями по развитию личного бренда и контента
                a.cards__btn.btn(href="#") Получить ранний доступ
            li.cards__item 
                img.cards__img.cards__img--svg(src="@img/cards-3.svg", alt="notepad image")
                h3.cards__title Лучше #[br] контент
                p.cards__text Сервис предоставляет идеи по упаковке контента и доступ к лучшим подрядчикам
                a.cards__btn.btn.btn--orange(href="#") Начать бесплатно
            li.cards__item.cards__item--green
                img.cards__img(src="@img/cards-4.jpg", alt="notepad image")
                h3.cards__title Лучше #[br] монетизация
                p.cards__text Получай задания от рекламодателей, заключай партнерства и спонсорства в 2 клиека на сервисе
