.clients
    .container 
        ul.clients__inner
            li.clients__item 
                img.clients__img(src="@img/clients-1.jpg", alt="gamers image")
                .clients__title Геймеры
                p.clients__text Создавай фан базу и монетизируй её
            li.clients__item 
                img.clients__img(src="@img/clients-2.jpg", alt="sportsmans image")
                .clients__title Спортсмены
                p.clients__text Превращай мастерство в деньги
            li.clients__item 
                img.clients__img(src="@img/clients-3.jpg", alt="extremals image")
                .clients__title Экстремалы
                p.clients__text Превращайте адренилин в деньги