.adv 
    .container 
        ul.adv__inner.adv__inner--sm 
            li.adv__item 
                img.adv__icon(src="@img/emoji/message.png", alt="message icon")
                p.adv__title Доступ к микро-сообществам
                p.adv__text Аудитогрии, куда не доберуться агенства и ваши конкуренты
            li.adv__item 
                img.adv__icon(src="@img/emoji/handshake.png", alt="handshake icon")
                p.adv__title Поддержка в продвижении
                p.adv__text GROU подскажет с чем и как лучше зайти в аудиторию
            li.adv__item 
                img.adv__icon(src="@img/emoji/fire.png", alt="fire icon")
                p.adv__title Виральный #[br] эффект
                p.adv__text Микро аудитории очень монолитны и эффективны. Проверьте на своем продукте.