.preview.preview--sm 
    .container 
        .preview__inner
            .preview__title.title Доступ к новому виду продвижения с ХХ% ростом
            img.preview__img(src="./img/preview-img-2.svg", alt="preview image")
            p.preview__text В разы быстрее и эффективнее продвижение в монолитных микро- сообществах, куда агенства и конкуренты не смогут добраться.
            .preview__links 
                a.preview__link.btn.btn--orange(href="./popup.html") Начать продвижение
                a.preview__link.btn.btn--star(href="./popup.html") Вход бесплатно