.banner
    .container 
        .banner__inner
            .banner__title Получите первый 
                span.lg ХХ% 
                | рост с сервисом 
                img.banner__logo(src="@img/logo-transformed.svg", alt="logo")
            a.banner__link.btn(href="./popup.html") Прямо здесь
            img.banner__img(src="@img/companies-banner-img.svg", alt="banner image")