.preview 
    .container 
        .preview__inner
            .preview__title.title Создавай, монетизируют контент, удивляй фанов и занимайся только тем, что любишь
            img.preview__img(src="./img/preview-img-3.svg", alt="preview image")
            ul.preview__adv
                li.preview__item Развивай свой бренд и контент
                li.preview__item Развивай каналы монетизации
                li.preview__item Доступ к профессиональным подрядчикам
            .preview__links 
                a.preview__link.btn.btn--orange(href="#") Начать продвижение