.banner.banner--reverse
    .container 
        .banner__inner
            .banner__title Мы поможем сделать #[br] первый шаг 
            a.banner__link.btn(href="#") Начать бесплатно
            img.banner__img(src="@img/banner-img-2.svg", alt="banner image")