.adv 
    .container 
        ul.adv__inner.adv__inner--half
            li.adv__item 
                img.adv__icon(src="@img/emoji/bulb.png", alt="bulb icon")
                p.adv__title Как создавать?
                p.adv__text Не знание, как создавать качественный контент, с чего начать
            li.adv__item 
                img.adv__icon(src="@img/emoji/camera.png", alt="camera icon")
                p.adv__title Как монетезировать?
                p.adv__text Неумение монетезировать свой контент
            li.adv__item 
                img.adv__icon(src="@img/emoji/happy.png", alt="happy icon")
                p.adv__title Как работать с фанами?
                p.adv__text Неумение работать с фанами
            li.adv__item 
                img.adv__icon(src="@img/emoji/daifive.png", alt="daifive icon")
                p.adv__title Где найти единомышленников?
                p.adv__text Нету комьюнити единомышленников