footer.footer 
    .container 
        .footer__inner 

            ul.footer__social 
                li.footer__item
                    a.footer__icon(href="#")
                        img(src="@img/social/twitter.svg" alt="twitter link")
                li.footer__item
                    a.footer__icon(href="#")
                        img(src="@img/social/linkedin.svg" alt="linkedin link")

        .footer__row 
            .footer__copy ©2022 GROU
            a.footer__docs(href="#") Правовое уведомление
            a.footer__docs(href="#") Политика конфиденциальности
    