footer.footer 
    .container 
        .footer__inner 
            ul.footer__col
                li.footer__link Создателям 
                li.footer__link Развитие 
                li.footer__link Монетизация 
                li.footer__link Упаковка бренда и контента 
                li.footer__link Стоимость 
                li.footer__link Поддержка  
            ul.footer__col
                li.footer__link Компаниям
                li.footer__link Создатели
                li.footer__link Управление компаниями инфлюенсеров
                li.footer__link Стоимость
                li.footer__link Кейсы

            ul.footer__social 
                li.footer__item
                    a.footer__icon(href="#")
                        img(src="@img/social/facebook.svg" alt="facebook link")
                li.footer__item
                    a.footer__icon(href="#")
                        img(src="@img/social/twitter.svg" alt="twitter link")
                li.footer__item
                    a.footer__icon(href="#")
                        img(src="@img/social/telegram.svg" alt="telegram link" style="transform: translateX(-2px)")
                li.footer__item
                    a.footer__icon(href="#")
                        img(src="@img/social/linkedin.svg" alt="linkedin link")

        .footer__row 
            .footer__copy ©2022 GROU
            a.footer__docs(href="#") Правовое уведомление
            a.footer__docs(href="#") Политика конфиденциальности
    