header.header 
    .container 
        .header__inner
            .header__logo.logo 
                img.logo__img(src="./img/logo.png", alt="logo")

            nav.header__nav 
                ul.header__menu 
                    li.header__item
                        a.header__link(href="#") Создателям
                    li.header__item
                        a.header__link(href="#") Компаниям
                    li.header__item
                        a.header__link(href="#") Блог
                    li.header__item
                        a.header__link(href="#") Про GROU

            button.header__btn.btn.btn--sm.btn--green Начать бесплатно