header.header 
    .container 
        .header__inner
            a.header__logo.logo(href="./index.html")
                img.logo__img(src="./img/logo.png", alt="logo")

            .header__burger
                .header__line

            nav.header__nav 
                ul.header__menu 
                    li.header__item.header__item--submenu.active
                        a.header__link(href="#") Создателям
                        ul.header__submenu 
                            li
                                a(href="#") Развитие
                            li
                                a(href="#") Монетизация
                            li
                                a(href="#") Упаковка бренда и контента
                            li
                                a(href="#") Стоимость
                            li
                                a(href="#") Поддержка

                    li.header__item.header__item--submenu
                        a.header__link(href="./companies.html") Компаниям
                        ul.header__submenu 
                            li
                                a(href="#") Создатели
                            li
                                a(href="#") Управление компаниями инфлюенсеров
                            li
                                a(href="#") Стоимость
                            li
                                a(href="#") Кейсы
                    li.header__item
                        a.header__link(href="#") Блог
                    li.header__item
                        a.header__link(href="#") Про GROU

                button.header__btn.btn.btn--sm.btn--green Начать бесплатно
    .layer