header.header 
    .container 
        .header__inner
            a.header__logo.logo(href="./index.html")
                img.logo__img(src="./img/logo.svg", alt="logo")

            .header__burger
                .header__line

            nav.header__nav 
                ul.header__menu 
                    li.header__item.active
                        a.header__link(href="./creators.html") Создателям
                    li.header__item
                        a.header__link(href="./companies.html") Компаниям

                a.header__btn.btn.btn--sm.btn--green(href="./popup.html") Найти инфлюенсера
    .layer