.media 
    .container
        .media__title.title Grou в медиа 
        .media__slider
            .swiper-wrapper
                .media__slide 
                    img.media__img(src="@img/media-1.png", alt="media image")
                    .media__name Управление персоналом: обязанности, результаты работы, должностные инструкции
                    a.media__link(href="#") 
                .media__slide 
                    img.media__img(src="@img/media-2.png", alt="media image")
                    .media__name Как построить эффективный отдел продаж
                    a.media__link(href="#") 
                .media__slide 
                    img.media__img(src="@img/media-3.png", alt="media image")
                    .media__name HR аналитика ― 7 отчетов, которые нужны вашей компании
                    a.media__link(href="#") 
                .media__slide 
                    img.media__img(src="@img/media-1.png", alt="media image")
                    .media__name Управление персоналом: обязанности, результаты работы, должностные инструкции
                    a.media__link(href="#") 
                .media__slide 
                    img.media__img(src="@img/media-2.png", alt="media image")
                    .media__name Как построить эффективный отдел продаж
                    a.media__link(href="#") 
                .media__slide 
                    img.media__img(src="@img/media-3.png", alt="media image")
                    .media__name HR аналитика ― 7 отчетов, которые нужны вашей компании
                    a.media__link(href="#") 
            .media__pagination    

