.notification 
    .container
        p 
            span.bold Карьера в Grou |
            | Мы ищем талантливых людей, готовых присоединиться к нашей глобальной команде специалистов  
            a.link(href="#") Все открытые вакансии