.preview 
    .container 
        .preview__inner
            .preview__title.title Платформа #[br] для инфлюенс маркетинга развития создателей
            img.preview__img(src="./img/preview-img.svg", alt="preview image")
            ul.preview__adv
                li.preview__item Начни использовать платформу, где удобно управлять развитием создателей
                li.preview__item Находи самых эффективных инфлюенсеров для продвижения продуктов
            .preview__links 
                a.preview__link.btn.btn--orange(href="#") Создателям
                a.preview__link.btn(href="#") Компаниям
