.promo
    .container
        .promo__inner
            .promo__info
                .promo__title.title Компаниям: 
                    span.green эффективный инфлюенс маркетинг, простое взаимодействие с создателями
                .promo__text 
                    p Получайте пользователей, клиентов для ваших продуктов, игр, услуг, любого бизнеса.
                    p Привлекайте к продвижению создателей с вашей аудиторией, культурой и взаимодействуйте с ними с помощью платформы Grou 
                a.promo__link.btn.btn--orange(href="./creators.html") Узнать больше о платформе
            img.promo__img(src="@img/promo-img.svg", alt="promo image")