.questions
    .container 
        .questions__inner 
            .questions__wrapper
                h2.questions__title F.A.Q.
                ul.questions__list 
                    li.questions__item 
                        .questions__name Как работает сервис?
                        .questions__content 
                            ul 
                                li 
                                    .bold 1. Регистрируйтесь
                                    p Создайте личный кабинет с помощью соц.сетей или электронной почты
                                li 
                                    .bold 2. Заполняйте Вашу анкету
                                    p Отвечая на вопросы анкеты, опишите свою деятельность
                                li 
                                    .bold 3. Наполняйте страницу информацией
                                    p Расскажите о себе, каким видом спорта занимаешся, сделай несколько постов, добавь фотографии и контакты, настройте внешний вид своей странички
                                li 
                                    .bold 4. Получай рекомендации по монетизации от сервиса, находи подрядчиков и рекламодателей
                                    p Вы пуличите ряд рекомендаций о создании и монетизации контента а также о продвижении своего бренда.
                                li 
                                    .bold 5.Монетизируйте подписчиков
                                    p  Расскажите подписчикам в других социальных сетях о своём новом проекте
                    li.questions__item 
                        .questions__name Как начать?
                        .questions__content
                            ul 
                                li 
                                    .bold 1. Регистрируйтесь
                                    p Создайте личный кабинет с помощью соц.сетей или электронной почты
                                li 
                                    .bold 2. Заполняйте Вашу анкету
                                    p Отвечая на вопросы анкеты, опишите свою деятельность
                                li 
                                    .bold 3. Наполняйте страницу информацией
                                    p Расскажите о себе, каким видом спорта занимаешся, сделай несколько постов, добавь фотографии и контакты, настройте внешний вид своей странички
                                li 
                                    .bold 4. Получай рекомендации по монетизации от сервиса, находи подрядчиков и рекламодателей
                                    p Вы пуличите ряд рекомендаций о создании и монетизации контента а также о продвижении своего бренда.
                                li 
                                    .bold 5.Монетизируйте подписчиков
                                    p  Расскажите подписчикам в других социальных сетях о своём новом проекте
                    li.questions__item 
                        .questions__name Что получить создатель контента?
                        .questions__content 
                            ul 
                                li 
                                    .bold 1. Регистрируйтесь
                                    p Создайте личный кабинет с помощью соц.сетей или электронной почты
                                li 
                                    .bold 2. Заполняйте Вашу анкету
                                    p Отвечая на вопросы анкеты, опишите свою деятельность
                                li 
                                    .bold 3. Наполняйте страницу информацией
                                    p Расскажите о себе, каким видом спорта занимаешся, сделай несколько постов, добавь фотографии и контакты, настройте внешний вид своей странички
                                li 
                                    .bold 4. Получай рекомендации по монетизации от сервиса, находи подрядчиков и рекламодателей
                                    p Вы пуличите ряд рекомендаций о создании и монетизации контента а также о продвижении своего бренда.
                                li 
                                    .bold 5.Монетизируйте подписчиков
                                    p  Расскажите подписчикам в других социальных сетях о своём новом проекте
                    li.questions__item 
                        .questions__name Какая стоимость?
                        .questions__content 
                            ul 
                                li 
                                    .bold 1. Регистрируйтесь
                                    p Создайте личный кабинет с помощью соц.сетей или электронной почты
                                li 
                                    .bold 2. Заполняйте Вашу анкету
                                    p Отвечая на вопросы анкеты, опишите свою деятельность
                                li 
                                    .bold 3. Наполняйте страницу информацией
                                    p Расскажите о себе, каким видом спорта занимаешся, сделай несколько постов, добавь фотографии и контакты, настройте внешний вид своей странички
                                li 
                                    .bold 4. Получай рекомендации по монетизации от сервиса, находи подрядчиков и рекламодателей
                                    p Вы пуличите ряд рекомендаций о создании и монетизации контента а также о продвижении своего бренда.
                                li 
                                    .bold 5.Монетизируйте подписчиков
                                    p  Расскажите подписчикам в других социальных сетях о своём новом проекте

            img.questions__img(src="@img/questions.svg", alt="question image")