.reviews 
    .container 
        .reviews__inner 
            .reviews__title.title Отзывы
            .reviews__slider 
                .swiper-wrapper
                    .reviews__slide 
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-1.png", alt="reviewer")
                            .reviews__name Матвей
                            .reviews__text «Программа очень структурирована. Каждая новая тема раскрывается достаточно глубоко»
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-4.png", alt="reviewer")
                            .reviews__name Саня
                            .reviews__text «На программу срочно надо идти тем людям, которые чувствуют, что они уже выросли из своего первого класса бизнеса и не успевают справиться со всеми процессами».
                    .reviews__slide 
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-2.png", alt="reviewer")
                            .reviews__name Аня
                            .reviews__text «На программу срочно надо идти тем людям, которые чувствуют, что они уже выросли из своего первого класса бизнеса и не успевают справиться со всеми процессами».
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-5.png", alt="reviewer")
                            .reviews__name Катя
                            .reviews__text «Программа очень структурирована. Каждая новая тема раскрывается достаточно глубоко»
                    .reviews__slide 
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-3.png", alt="reviewer")
                            .reviews__name Мая
                            .reviews__text «Программа очень структурирована. Каждая новая тема раскрывается достаточно глубоко»
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-6.png", alt="reviewer")
                            .reviews__name Марк
                            .reviews__text «На программу срочно надо идти тем людям, которые чувствуют, что они уже выросли из своего первого класса бизнеса и не успевают справиться со всеми процессами».
                    .reviews__slide 
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-1.png", alt="reviewer")
                            .reviews__name Матвей
                            .reviews__text «Программа очень структурирована. Каждая новая тема раскрывается достаточно глубоко»
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-4.png", alt="reviewer")
                            .reviews__name Саня
                            .reviews__text «На программу срочно надо идти тем людям, которые чувствуют, что они уже выросли из своего первого класса бизнеса и не успевают справиться со всеми процессами».
                    .reviews__slide 
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-2.png", alt="reviewer")
                            .reviews__name Аня
                            .reviews__text «На программу срочно надо идти тем людям, которые чувствуют, что они уже выросли из своего первого класса бизнеса и не успевают справиться со всеми процессами».
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-5.png", alt="reviewer")
                            .reviews__name Катя
                            .reviews__text «Программа очень структурирована. Каждая новая тема раскрывается достаточно глубоко»
                    .reviews__slide 
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-3.png", alt="reviewer")
                            .reviews__name Мая
                            .reviews__text «Программа очень структурирована. Каждая новая тема раскрывается достаточно глубоко»
                        .reviews__item 
                            img.reviews__img(src="@img/reviews-6.png", alt="reviewer")
                            .reviews__name Марк
                            .reviews__text «На программу срочно надо идти тем людям, которые чувствуют, что они уже выросли из своего первого класса бизнеса и не успевают справиться со всеми процессами».
                .reviews__pagination        
                    