.social
    .container
        .social__inner
            ul 
                li
                    img(src="@img/icons/icons.svg#facebook", alt="")
                li
                    img(src="@img/icons/icons.svg#instagram", alt="")
                li
                    img(src="@img/icons/icons.svg#youtube", alt="")
                li
                    img(src="@img/icons/icons.svg#twitter", alt="")
                li
                    img(src="@img/icons/icons.svg#twitch", alt="")
                li
                    img(src="@img/icons/icons.svg#tiktok", alt="")
                li
                    img(src="@img/icons/icons.svg#telegram", alt="")
                li
                    img(src="@img/icons/icons.svg#discord", alt="")
            p Доступные каналы продвижени