.work 
    .container 
        .work__inner
            .work__banner 
                ul.work__list 
                    li.work__item 
                        img(src="@img/work-people-1.png", alt="work people")
                    li.work__item 
                        img(src="@img/work-people-2.png", alt="work people")
                    li.work__item 
                        img(src="@img/work-people-3.png", alt="work people")
                .work__title Работайте #[br] с инфлюенсерами #[br] во всех каналах просто, эффективно, предсказуемо
                a.work__link.btn(href="#") Узнать больше о каналах

            .work__banner.work__banner--white 
                .work__slider 
                    .swiper-wrapper 
                        .work__slide 
                            img(src="@img/work-slide-img.png", alt="slide image")
                        .work__slide 
                            img(src="@img/work-slide-img.png", alt="slide image")
                        .work__slide 
                            img(src="@img/work-slide-img.png", alt="slide image")
                    .work__pagination
