.banner
    margin-bottom: 100px

    @include r(767px)
        margin-bottom: 50px

    &--reverse
        .banner__inner
            padding-left: 50%

            @include r(767px)
                padding: 30px 15px 0

        .banner__img
            right: auto
            left: 0
            max-width: 50%
            max-height: calc(100% - 50px)

            @include r(767px)
                max-width: 100%
                max-height: auto
    
    &__inner
        background-color: $violent
        border-radius: 30px
        padding: 105px 45px
        position: relative

        @include r(900px)
            padding: 40px 30px

        @include r(500px)
            padding: 30px 15px 0 
            display: flex
            flex-direction: column

    &__title
        margin-bottom: 30px
        font-size: 40px
        line-height: 1.4
        font-weight: 700
        color: white
        max-width: 770px

        .black
            font-weight: 900

        .lg
            font-size: 100px
            line-height: 1
            font-weight: 700

            @include r(767px)
                font-size: 28px

        @include r(900px)
            font-size: 32px
            line-height: 1.2
            margin-bottom: 20px

        @include r(500px)
            font-size: 18px

    &__link
        @include r(500px)
            width: fit-content

    &__img
        position: absolute
        bottom: 0
        right: 130px
        max-width: 326px
        width: 100%

        @include r(1400px)
            right: 30px
            max-width: 25%

        @include r(1200px)
            display: none

        @include r(500px)
            display: block
            position: static
            max-width: 90%
            margin: 20px 0 0 auto

    &__logo
        margin-bottom: -20px

        @include r(767px)
            width: 52px
            margin-bottom: -10px
        