.logo
    display: flex
    width: 137px

    &__img
        width: 100%

.header
    padding: 25px 0
    margin-bottom: 30px

    &__inner
        display: flex
        align-items: center

    &__logo
        margin-right: 50px

    &__nav
        font-size: 14px
        margin-right: auto

    &__menu
        display: flex

    &__item:not(:last-child)
        margin-right: 20px

    &__link
        border-radius: 30px
        padding: 11px 30px 12px
        background-color: white
