.notification
    background-color: $violent
    color: white
    font-size: 14px
    padding: 11px 0 12px
    
    @include r(1200px)
        font-size: 12px
        line-height: 1.5

    @include r(767px)
        white-space: nowrap
        overflow-x: auto

    .bold
        font-weight: 600
        margin-right: 4px
        position: relative
        padding-left: 24px

        &::before
            content: ""
            position: absolute
            top: 0
            left: 0
            height: 16px
            width: 16px
            background-image: url(../img/emoji/fire.png)
            background-size: cover
            background-position: center
            background-repeat: no-repeat

    .link
        text-decoration: underline
        padding-right: 20px