.preview
    padding-bottom: 100px
    margin-bottom: 100px

    @include r(1200px)
        padding-bottom: 0

    @include r(767px)
        margin-bottom: 50px
    
    &--sm
        img
            max-height: 550px

        .preview__title
            padding-top: 100px

            @include r(1200px)
                padding: 0

    &__inner
        position: relative

        @include r(1200px)
            display: flex
            flex-direction: column

    &__title
        max-width: 600px
        width: 100%
        margin-bottom: 30px

        @include r(1200px)
            max-width: 100%
            
            br
                display: none

    &__img
        position: absolute
        top: 0
        right: 0
        width: 50%

        @include r(1200px)
            position: static
            margin: 0 0 24px

        @include r(900px)
            width: 100%

    &__adv
        max-width: 500px
        width: 100%
        margin-bottom: 40px

        @include r(1200px)
            max-width: 100%

        @include r(767px)
            margin-bottom: 25px

    &__item
        position: relative
        padding-left: 50px

        &::before
            content: ""
            width: 30px
            height: 30px
            background-image: url(../img/emoji/nice.png)
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)

        &:not(:last-child)
            margin-bottom: 25px

    &__links
        display: flex
        align-items: center

        @include r(500px)
            justify-content: flex-start

    &__link:not(:last-child)
        margin-right: 20px

    &__text
        max-width: 480px
        width: 100%
        margin-bottom: 40px 

