include base/_head
    include blocks/_notification
    include blocks/_header
    main.main.creators 
        include blocks/_creators-preview
        include blocks/_clients
        include blocks/_creators-adv
        include blocks/_afford
        include blocks/_cards
        include blocks/_social
        include blocks/_advertisers
        include blocks/_questions
        include blocks/_creators-banner
        
            
    include blocks/_footer
    script(src="js/app.min.js") 