include base/_head
    include blocks/_notification
    include blocks/_header
    main.main
        include blocks/_preview
        include blocks/_adv
        include blocks/_promo
        include blocks/_work
        include blocks/_reviews
        include blocks/_media
        include blocks/_banner
        
    include blocks/_footer
    script(src="js/app.min.js") 